@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap');

.landing {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;

}
@keyframes exampleaa {
0%{
    transform: rotateZ(0deg);
}    
50%{

    transform: rotateZ(180deg);
}

100%{

    transform: rotateZ(360deg);
}

}
.subscrollbar>img {
    width: 30px;
    position: absolute;
    bottom: -15px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  animation-name: exampleaa;
  animation-duration: 0.5s;
}

.scrolldivs {
    position: relative;
}

.absimgg {

    position: absolute;
    width: 901px;
    height: 751px;
    left: -300px;
    top: -00px;

    background: linear-gradient(138.52deg, #69E3E1 20.92%, #7D3EF5 75.88%);
    opacity: 0.6;
    filter: blur(250px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.subscrollbar {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 10px;
    background-color: #B34ACD;
}

.scrollbar {
    width: 10px;
    border-radius: 10px;
    height: 600px !important;
    position: fixed;
    z-index: 9999999999999;
    top: 120px;
    left: 40px;
    background: rgb(179, 74, 205, 0.2);

}

.menu {
    display: flex;
}

.absbg2 {
    /* Ellipse 3 */


    position: absolute;
    width: 669px;
    z-index: 98;
    height: 642px;
    left: 60% !important;
    top: 16px;

    background: linear-gradient(138.52deg, #69E3E1 20.92%, #7D3EF5 75.88%);
    opacity: 0.5;
    filter: blur(250px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.absbg {
    /* Ellipse 2 */


    position: absolute;
    width: 626px;
    height: 522px;
    left: -100px;
    top: -46px;
    z-index: -1;

    background: linear-gradient(139.46deg, #0200FF -6.36%, #EB56A5 98.75%);
    opacity: 0.7;
    filter: blur(150px);
}

.header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;

    width: 100vw;
}

.nextsec1 {
    max-width: 100%;
    align-items: center;
}

.video {
    border-radius: 31.753px 31.753px 0px 0px;
    min-height: 100px;
    background-color: black;
    min-width: 40%;
    width: 80px;
    height: 70px;
}

.service1>h1 {
    color: white;

    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

button:active {
    outline: none !important;
}

.btn1 {


    width: 123px;
    height: 43px;
    color: white;
    border: none;
    background: linear-gradient(139.46deg, #7D3EF5 -6.36%, #EB56A5 98.75%);
    border-radius: 8px;
}

.btn2 {


    width: 123px;
    height: 43px;
    color: white;
    border: none;
    background-color: transparent;
    border-radius: 8px;
}

.log {
    margin-left: -120px;
}

.menu,
.buttons {}

.menu>p {
    margin-right: 25px;
    cursor: pointer;
    color: white;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.buttons>button {

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.services {
    justify-content: space-around;
    padding-top: 114px;
    padding-bottom: 114px;
    align-items: center;
    background: #140222;
    display: flex;
    width: 100%;
    

}

.videosec {
    padding-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(138.52deg, #69E3E1 20.92%, #7D3EF5 75.88%), #454545;
}

.bgh {
    margin-top: 80px !important;
}

.slide1 {
    position: relative;
}

.sec1 {}

.sec1>h1 {

    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    margin-top: 100px;
    font-size: 40px;
    color: white;
}

.sec1>p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 32px;
    margin-top: 24px;
    color: #948AA5;
    font-weight: 400;
}

.sec1 {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    width: 45%;

}

.sec2 {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cra>h1 {

    margin-top: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: white;

}

.imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img1 {
    width: 70%;
}

.imh{
    height:240px;
}
.cra{
    position: relative;
}
.img2 {
    position: absolute;
    margin-top: -120px;
}

.gr {
    width: 80vw;
    height: auto;

}

.video {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pb {
    width: 250px;
    position: absolute;
    z-index: 999;
}

.ss {
    display: flex;
    flex-direction: column;
}

.cra>button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 43px;
    color: white;
    border: none;
    background: linear-gradient(139.46deg, #7D3EF5 -6.36%, #EB56A5 98.75%);
    border-radius: 8px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: -50px;
    margin-bottom: 80px;
}

.cra {
    height: 560px;
    border-radius: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 560px;
    width: max-content;

    background: #140222;
}

.subslide1 {
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: transparent;
    z-index: 999999;
    top: 0;
}

.slide2 {

    width: 100%;
    height: 100vh;


    background: #341B44;
}

.slide1,
.slide3 {
    width: 100%;
    height: 100vh;


    background: #341B44;
}

.nextsec {
    position: absolute;
}

* {
    scroll-behavior: smooth !important;
}

.contactsec1,
.contactsec2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 80px;
    width: 50%;
}

.contact {
    height: 100vh;

    display: flex;

}

.slide4 {

    width: 100%;
    min-height: 80px;

    z-index: 999999;

    background: #140222;
}

.slide4 {
    overflow: hidden;
    position: relative;
}

*:focus {
    outline: none;
}

.contact {
    position: relative;
    overflow: hidden;
}

textarea {
    color: white;

}

.col1>p {

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 32px;
    margin-top: 24px;
    color: #948AA5;
    font-weight: 400;
}

.col1 {
    padding-top: 20px;
    width: 40%;
    padding-left: 50px;
}

.col1 {
    margin-right: 10px;
}

.col2 {
    width: 19%;
    display: flex;
    flex-direction: column;
}

.footer {

    background: #221B2E;
    width: 100%;
    display: flex;
}

.col1 {}

.absimg7 {

    position: absolute;
    width: 626px;
    height: 592px;
    right: -400px;
    margin-top: -500px;
    background: linear-gradient(139.46deg, #0200FF -6.36%, #EB56A5 98.75%);
    opacity: 0.5;
    filter: blur(149.525px);
}

.contact {
    position: relative;
}

.contactsec2>textarea {
    width: 90%;
    resize: none;
    background-color: transparent;
    height: 80px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
}

.digi {
    width: 150px;
    margin-left: -120px;
    margin-top: 80px;
}

.contactsec2 {
    position: relative;
}

.textarea2 {
    height: 200px !important;
}

.contactsec2>button {
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: 180px;
    height: 43px;
    color: white;
    border: none;
    background: linear-gradient(139.46deg, #7D3EF5 -6.36%, #EB56A5 98.75%);
    border-radius: 8px;
}

.contactsec2>p {
    margin-top: 30px;
}

.contactsec2 {
    padding-top: 110px;
}

.absimg6 {

    position: absolute;
    width: 757px;
    height: 632px;
    bottom: -180px;
    left: -350px;

    background: linear-gradient(139.46deg, #0200FF -6.36%, #EB56A5 98.75%);
    opacity: 0.5;
    filter: blur(150px);
    z-index: 9;
}

.contactsec1 {

    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    margin-top: 170px !important;
    font-size: 56px;
    color: white;
}

.col2>h1 {

    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    margin-top: 20px !important;
    font-size: 16px;
    color: white;
}

.col2>p {

    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    margin-top: 6px !important;
    font-size: 16px;
    color: white;
    opacity: 0.8;
}

.crasub {
    min-height: 80px;
    width: 95%;
    background: #221B2E;

    border: 1px solid rgba(125, 62, 245, 0.28);
    border-radius: 12px;
}

.lines2 {
    width: 90% !important;
}

.lines3 {
    width: 85% !important;
}

.lines4 {
    width: 80% !important;
}

.crasub2 {
    position: relative;
}

.btns2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}

.btnimg {
    width: 146px;
    height: 56px;
}


.btnimg2 {
    width: 120px;
    height: 46px;
}

.btns1>img {
    margin-bottom: 20px !important;
}

.btns2>img {
    margin-bottom: 20px !important;
}

.btns2 {
    align-items: flex-start;
}

.btns1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-end;
    left: 0;
}

.linesp {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    height: 160px;
    bottom: 0;

    background: linear-gradient(180deg, rgba(20, 2, 34, 0) 0%, #140222 100%);
}

.lines5 {
    width: 75% !important;
}

.lines6 {
    width: 70% !important;
}

.lines {
    margin-top: 20px;
    width: 95%;
    height: 10px;


    background: rgba(255, 255, 255, 0.15);
    border-radius: 100px;
}

.crasub2>img {
    width: 95%;
}

.crasub2 {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #221B2E;

    border: 1px solid rgba(125, 62, 245, 0.28);
    border-radius: 12px;
}

.nextsec {
    border-radius: 32px 32px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    min-height: 80px;
    min-width: 85% !important;
    z-index: 9;

    background: #140222;
    margin-top: 80vh;

}

.logos {
    margin-top: 48px;
    max-width: 800px;
    overflow: hidden;
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;

}

.logos>img {
margin: 10px;
    width: 100px;
}

.buttons {
    width: max-content !important;
}

.topsection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.topsection>h1 {
    z-index: 99;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    margin-top: 170px !important;
    font-size: 80px;
    text-align: center;
    color: white;
}

.nextsec1>h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    margin-top: 170px !important;
    font-size: 56px;
    color: white;
}

.iccircle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iccircle>img {
    width: 25px;
}

.iconcircle>img {
    width: 30px;
}

.iconcircle {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(115.31deg, #7D3EF5 0%, #EB56A5 181.01%);
    width: 64px;
    height: 64px;
}

.psectionscroll {
    padding-right: 30px;
    overflow-y: scroll;
  scroll-behavior: smooth;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 90%;
}

.supportx {
    background: rgba(219, 160, 248, 0.15) !important;
    border: 1px solid rgba(125, 62, 245, 0.4) !important;
   
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;
    min-width: 560px;
}

.sectionscroll {
    width: max-content;
    height: max-content;
    
    align-items: flex-end;
    flex-direction: column;
}

.fg {
    height: 140px;
    width: 100px;
    margin: 20px;
    background-color: #7D3EF5;
}

.scrolldivs {
    display: flex;
    align-items: center;

    background: #140222;
    width: 100%;
    height: 100vh;

}

.iccircle {
    border-radius: 100%;

    background: #331C44;
    border: 1px solid rgba(125, 62, 245, 0.4);
    backdrop-filter: blur(10px);
    margin-bottom: 24px;
    width: 64px;
    height: 64px;
}

.support>h1 {
    margin-top: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
}

.support {
    padding: 24px;
    display: flex;
    border-radius: 16px;
    margin-bottom: 30px;
    flex-direction: column;
    background-color: #221B2E;
    width: 32%;
    min-height: 264px;
}

.divs {
    margin-top: 60px !important;
    width: 80%;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1400px;
}

.nextsec1>h2 {
    width: 600px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #948AA5;
}

.topsection {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #331C44;
}

.support>p {

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #948AA5;
    font-weight: 400;
}

.contactsec2>p {

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
}

.crasub>h2 {

    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: #FFFFFF99;
    font-weight: 300;
}

.details {
    width: 20%;
    margin-right: 20px;
    margin-left: 15px;
}

.details>p {

    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    color: #7D3EF5;
    font-weight: 600;
    margin-bottom: 0px !important;
}

.details>h4 {

    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    color: #FFFFFF99;
    font-weight: 300;
}

.details2 {
    width: 20%;
    margin-right: 20px;
    margin-left: 15px;
}

.details2>p {

    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 600;
    margin-bottom: 0px !important;
}

.details2>h4 {

    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    color: #FFFFFF99;
    font-weight: 300;
}

.cra {
    overflow: hidden;
}

.crasub {
    min-height: 553px;
    padding-top: 30px;
    padding-left: 3%;
}

.coindata {
    display: flex;
    width: 95%;
    height: 400px;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.make {
    margin-top: 60px !important;
}

.row1>img {
    height: 60%;

}

.row1 {
    margin-top: 20px;
    align-items: center;
    padding-left: 20px;
    background-color: #140222;
    height: 108px;
    width: 100%;
    display: flex;
}

.crasub>h4 {

    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: #FFFFFF99;
    font-weight: 300;
}

.btc {
    width: 46px;
    height: 26px;
    border-radius: 10px;
    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    color: white;
    font-weight: 700;
    background: rgba(219, 160, 248, 0.15);
    border: 1px solid rgba(125, 62, 245, 0.6);
    backdrop-filter: blur(15px);
}

.crasub>h3 {
    align-items: center;
    display: flex;

    font-family: 'Outfit', sans-serif;
    font-size: 44px;
    color: white;
    font-weight: 500;
}

.nextsec1>p {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 600;
}

.nextsec1 {
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #140222;
}

.fil {
    display: none;
}

@media only screen and (max-width: 750px) {
    .fil {
        display: flex;
    }

    .logos {
        justify-content: center !important;
    }

    .scrollbar {
        display: none;
    }

    .gr {
        width: 100% !important;
    }

    .video {
        width: 95% !important;
        height: max-content !important;
    }

    .divs>.support {
        width: 95% !important;
    }

    .scrolldivs {
        height: auto;
        flex-direction: column;
    }

    .service1 {
        margin-bottom: 50px;
        width: 100% !important;
    }

    .sectionscroll {
        padding-left: 20px;
        align-items: flex-start !important;
        width: 100% !important;
    }

    .sec1 {
        padding-left: 20px !important;
    }

    .img2 {
        width: 100% !important;
    }

    .imgs {
        width: 100% !important;
    }

    .cra {
        min-width: 56px !important;
        width: 95% !important;
        border-radius: 12px !important;
    }

    .supportx {
        min-width: 20px !important;
        width: 100% !important;
    }

    .subslide1>div {

        width: 100% !important;
    }

    .divs {
        width: 95% !important;
    }

    .sec1>h1 {
        font-size: 28px !important;
    }

    .row1>img {
        height: 40% !important;
    }

    .sec1>h1 {
        margin-top: 40px !important;
    }

    .slide3 {
        display: none;
    }

    .slide2,
    .slide3 {
        height: 0px !important;
    }

    .slide1 {
        height: max-content;
    }

    .bgh>button {
        width: 200px !important;
        border-radius: 4px !important;
    }

    .fil {
        color: white !important;
        margin-right: 20px !important;
        font-size: 35px !important;
    }

    .header {
        padding: 0px !important;
        justify-content: space-between !important;
    }

    .log {
        margin-left: 20px !important;
    }

    .menu,
    .header>.buttons {
        display: none;
    }

    .bgh {
        display: flex;
        flex-direction: column;
    }

    .topsection>h1 {
        font-size: 40px !important;
    }

    .contact {
        height: max-content;
        padding-bottom: 80px;
    }

    .subslide1 {
        padding-bottom: 50px;
        height: max-content !important;
        flex-direction: column;
        opacity: 1 !important;
        position: relative !important;
    }

    .contactsec2 {
        width: 100%;
        padding-top: 20px !important;
        padding-left: 20px !important;
    }

    .digi {
        display: none !important;
    }

    .col1,
    .col2 {
        padding-left: 20px !important;
        width: 95% !important;
    }

    .footer {
        flex-direction: column;
    }

    .cra {
        height: max-content !important;
    }

    .services {
        padding-left: 15px !important;
    }

    .contactsec1 {
        padding-left: 20px !important;
        margin-top: 40px !important;
    }

    .contact {
        flex-direction: column;
    }

    .services {
        display: flex;
        flex-direction: column;
    }

    .videosec {
        height: max-content !important;
    }

    .nextsec1>h2 {
        width: 80% !important;
        font-size: 16px;

    }

    .nextsec1>h1 {
        font-size: 40px !important;
    }

    .logos>img {
        margin: 20px;
        margin-top: 20px !important;
        width: 140px;
    }
}
/* Default animation for all browsers */
body {
    scroll-behavior: smooth;
  }
  
  /* Specific animation for Chrome on Mac */
  @supports (-webkit-touch-callout: none) {
    body {
      scroll-behavior: auto;
    }
    
    html {
      scroll-behavior: auto;
      scroll-padding-top: 10px;
      scroll-padding-bottom: 10px;
    }
    
    body:not(:hover) #scroll-up {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: transform 0.1s, opacity 0.1s;
    }
    body:not(:hover) #scroll-down {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: transform 0.1s, opacity 0.1s;
      }
  }
  